body {
    font-family: "Open Sans", sans-serif;
}

#navbar #n_p #A_A #footer {
    height: 100%;
}

/* estilo para Navbar */
.navbar {
    background-color: #E83E8C;
}

.nav-link {
    color: #FFFFFF;
}

#logo_suricata {
    width: 132px;
}

/* estilo de Nuestros Productos */

h1 {
    font-size: 60px;
    color: #707070;
    text-align: center;
    margin-top: 120px;
}

/* Estilo para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 35px;
    }

    #A_A {
        display: none;
    }
}

#row_1 {
    margin-top: 40px;
}

.card {
    position: relative;
    overflow: hidden;
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card:hover .card-img-top {
    transform: scale(1.1);
}

#n_p {
    margin-bottom: 150px;
}

/* estilos de ahora aceptamos */

#A_A {
    background-color: #17A2B8;
    height: 180px;
    padding: 60px;
}

h2 {
    color: #FFFFFF;
    font-size: 40px;
}

i {
    color: #FFFFFF;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  css footer */

footer {
    padding: 40px;
    background-color: #E83E8C;
    display: flex;
    justify-content: center;
    height: 184px;
}

#lf {
    width: 54px;
    height: 100px;
}